@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* body {
  background: #1E252B;
  font-family: "Poppins", sans-serif;
}
* body a {
  color: var(--color-text);
}

.container {
  max-width: 1154px;
  padding: 0 15px;
  margin: 0 auto;
}

.container--brand {
  max-width: 1154px;
  padding: 0 15px;
  margin: 0 auto;
  border-radius: 25px;
  background: rgba(44, 53, 61, 0.2);
  position: relative;
}
.container--brand::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./../img/brand/Ellipse\ 195.svg);
  background-repeat: no-repeat;
  border-radius: 25px;
  z-index: -1;
}

:root {
  --color-title:rgba(255, 255, 255, 0.90);
  --color-text: rgba(255, 255, 255, 0.55);
  --accent: #FF6E30;
  --card-title: rgba(255, 255, 255, 0.78);
  --card-bg: #1E252B;
  --card-hover: rgba(40, 48, 54, 0.60);
  --card-accent-muted: rgba(255, 165, 55, 0.55);
  --card-accent: #FFA537;
  --card-text: rgba(255, 255, 255, 0.55);
  --button-color: #fff;
  --button-bg: #FF6E30;
}

.header {
  padding-top: 34px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 42px;
  font-size: 16px;
  font-weight: 500;
}

.nav-list__link {
  position: relative;
}
.nav-list__link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: 0.3s;
  background-color: white;
}
.nav-list__link:hover::before {
  position: absolute;
  width: 100%;
  transition: 0.3s;
  transform: scaleX(1);
}

.nav__personal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
}

.nav_button {
  width: 118px;
  height: 48px;
  border-radius: 8px;
  background: var(--accent);
  color: var(--button-color);
  font-size: 16px;
}
.nav_button:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.main {
  padding-top: 109px;
  position: relative;
}

.main__content {
  max-width: 660px;
}

.main__title {
  margin-bottom: 30px;
  margin-bottom: 30px;
  color: var(--color-title);
  font-size: 50px;
  line-height: 140%;
}
.main__title span {
  color: var(--accent);
}

.main__desc {
  max-width: 487px;
  margin-bottom: 60px;
  color: var(--color-text);
  font-size: 18px;
  line-height: 30px; /* 166.667% */
}

.main__search {
  margin-bottom: 121px;
}

.header__social {
  display: flex;
  gap: 30px;
}

.main__bg {
  position: absolute;
  max-width: 1440px;
  height: 620px;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.main__img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.main__social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.fa-brands {
  color: rgba(255, 255, 255, 0.78);
  font-size: 34px;
}

.fa-brands:hover {
  color: #fff;
  transition: 0.2s ease-in;
}

.fa-instagram {
  font-size: 36px;
}

.fa-twitter {
  font-size: 36px;
}

.main__search {
  max-width: 498px;
}

.search {
  display: flex;
  gap: 13px;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 22px 11px 22px 18px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background: #283036;
}

.search__input {
  flex-grow: 1;
  color: rgba(255, 255, 255, 0.38);
  font-size: 14px;
}

.search__button {
  width: 130.435px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--button-bg);
  color: var(--button-color);
}
.search__button.search__button:hover {
  opacity: 0.8;
}

.popular {
  padding: 200px 0px;
}

.popular__text {
  max-width: 455px;
  margin: 0 auto;
}

.popular__title {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 48px;
  line-height: 130%; /* 62.4px */
  margin-bottom: 25px;
}

.popular__desc {
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  margin-bottom: 110px;
}

.popular-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 358px);
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 100px;
}

.popular__button {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  padding: 17px 38px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #1E252B;
  color: var(--color-text);
  font-size: 20px;
}
.popular__button:hover {
  color: var(--accent);
  transition: 0.5s ease-in;
  box-shadow: 0px 4px 4px 0px var(--accent);
}

.card {
  max-width: 358px;
  height: 294px;
  display: block;
  padding: 28px 28px 0 28px;
  border-radius: 15px;
  background: var(--card-bg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card:hover {
  transition: 0.3s ease-in-out;
  transform: translateY(-20px);
  border-radius: 15px;
  background: var(--card-hover);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background-image: url(./../img/card/card-ellipse.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__name {
  display: flex;
  margin-bottom: 31px;
  gap: 30px;
}

.card__title {
  color: var(--card-title);
  font-size: 24px;
}
.card__title span {
  color: var(--card-accent-muted);
  display: block;
  font-size: 14px;
}

.card_desc {
  margin-bottom: 37px;
  color: var(--card-text);
  font-size: 16px;
  line-height: 30px; /* 187.5% */
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__grade {
  display: flex;
  gap: 25px;
}

.card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  background: var(--card-gb);
  color: var(--button-color);
}

.card__btns {
  width: 106px;
  height: 42px;
  border-radius: 8px;
  flex-shrink: 0;
  color: var(--card-text);
}
.card__btns:hover {
  transition: 0.5s ease-in-out;
  background: var(--button-bg);
  color: #fff;
}

.fa-solid {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.38);
}
.fa-solid.fa-solid:hover {
  color: red;
  transition: 0.2s ease-in;
}

.fa-folder-plus {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.38);
}
.fa-folder-plus.fa-folder-plus:hover {
  opacity: 0.8;
  color: white;
  transition: 0.2s ease-in;
}

.brand__content {
  padding: 55px 83px;
}

.brand__title {
  text-align: center;
  margin-bottom: 56px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.brand__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 107px;
  margin: 0 auto;
}

.brand__logo.brand__logo:hover {
  opacity: 0.8;
}

.new {
  padding-top: 200px;
  padding-bottom: 200px;
}

.new__content {
  display: flex;
  justify-content: space-between;
  gap: 130px;
}

.new__left {
  max-width: 427px;
}

.new__title {
  margin-bottom: 30px;
  color: var(--color-title);
  font-size: 48px;
  line-height: 130%; /* 62.4px */
}

.new__desc {
  margin-bottom: 60px;
  color: var(--color-text);
  font-size: 18px;
  line-height: 30px; /* 166.667% */
}

.new__buttoon {
  padding: 16px 40px;
  color: #FFF;
  font-size: 18px;
  background-color: var(--button-bg);
  border-radius: 8px;
}

.new-right {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.new-card {
  max-width: 288px;
  height: 288px;
  padding: 28px 21px 28px 22px;
}

.new-card__desc {
  font-size: 14px;
}

.testimonial-slider {
  position: relative;
}

.slide-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  margin-right: 57px;
  position: relative;
}
.avatar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(./../img/slider/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.avatar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./../img/slider/pink.svg);
  background-repeat: no-repeat;
  top: 35px;
  left: 0;
  z-index: -2;
}

.userdate {
  position: absolute;
  padding: 10px 22px 16px 22px;
  bottom: 29px;
  right: 4px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(40, 48, 54, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.name {
  color: rgba(255, 253, 253, 0.78);
  font-family: Poppins;
  font-size: 26px;
  letter-spacing: 0.39px;
}

.work {
  color: rgba(255, 253, 253, 0.55);
  font-family: Poppins;
  font-size: 16px;
}

.text {
  position: relative;
}
.text::after {
  content: "";
  position: absolute;
  background: url(./../img/slider/“.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: -55px;
  right: 50px;
}

.text__desc {
  width: 393px;
  color: rgba(255, 255, 255, 0.78);
  font-family: Roboto;
  font-size: 14px;
  line-height: 30px; /* 214.286% */
  letter-spacing: 0.21px;
}

.slide__button {
  position: absolute;
  transform: translateY(-50%);
}

.slide__button--prev {
  z-index: 1;
  top: 50%;
  left: 0;
}

.slide__button--next {
  z-index: 1;
  top: 50%;
  right: 0;
}

.info {
  padding-top: 250px;
}

.info__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__title {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 48px;
  line-height: 130%; /* 62.4px */
  margin-bottom: 25px;
}

.info__desc {
  max-width: 427px;
  margin-bottom: 100px;
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-size: 18px;
  line-height: 30px; /* 166.667% */
}

.info__search {
  width: 549px;
}/*# sourceMappingURL=main.css.map */