.card {
    max-width: 358px;
    height: 294px;
    display: block;
    padding: 28px 28px 0 28px;
    border-radius: 15px;
    background: var(--card-bg);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    &:hover{
        transition: 0.3s ease-in-out;
        transform: translateY(-20px);
        border-radius: 15px;
        background: var(--card-hover);
        backdrop-filter: blur(25px);
        background-image: url(./../img/card/card-ellipse.svg);
        background-repeat: no-repeat;
        background-size: cover;
        }
}
.card__name {
    display: flex;
    margin-bottom: 31px;
    gap: 30px;
}
.card__img {
}
.card__title {
    color: var(--card-title);
    font-size: 24px;
span{
    color: var(--card-accent-muted);
    display: block;
    font-size: 14px;
}
}
.card_desc {
    margin-bottom: 37px;
    color: var(--card-text);
    font-size: 16px;
    line-height: 30px; /* 187.5% */
}
.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__grade{
    display: flex;
    gap: 25px;
}
.card__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    background: var(--card-gb);
    color: var(--button-color);
}
.card__btns{
    width: 106px;
    height: 42px;
    border-radius: 8px;
    flex-shrink: 0;
    color: var(--card-text);
    &:hover{
        transition: 0.5s ease-in-out;
        background: var(--button-bg);
        color: #fff;
    }
}
.fa-solid{
    font-size: 28px;
    color: rgba(255, 255, 255, 0.38);
    &.fa-solid:hover{
        color: red;
        transition: 0.2s ease-in;
    }
}
.fa-folder-plus{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.38);
    &.fa-folder-plus:hover{
        opacity: 0.8;
        color: #ffff;
        transition: 0.2s ease-in;
    }
}