.card {
    max-width: 358px;
    display: block;
    padding: 28px 28px 0 28px;
    border-radius: 15px;
    background: var(--card-bg);
    &:hover{
        border-radius: 15px;
        border: 2px solid var(--card-hover);
        background: var(--card-hover);
        backdrop-filter: blur(25px);
        margin-top: -20px;
        background-image: url(./../img/card/card-ellipse.svg);
        background-repeat: no-repeat;
        background-size: cover;
        }
}
.card__name {
    display: flex;
    margin-bottom: 31px;
    gap: 30px;
}
.card__img {
}
.card__title {
    color: var(--card-title);
    font-size: 24px;
span{
    color: var(--card-accent-muted);
    display: block;
    font-size: 14px;
}
}
.card_desc {
    margin-bottom: 37px;
    color: var(--card-text);
    font-size: 16px;
    line-height: 30px; /* 187.5% */
}
.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__wrapper{
    display: flex;
    gap: 12px;
}
.card__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    background: var(--card-gb);
    color: var(--button-color);
}
.card__btns{
    width: 106px;
    height: 42px;
    border-radius: 8px;
    flex-shrink: 0;
    color: var(--card-text);
    &:hover{
        background: var(--button-bg);
    }
}