.main {
   padding-top: 109px;
   position: relative;
}
.main__content {
   max-width: 660px;
}
.main__title {
   margin-bottom: 30px;
   margin-bottom: 30px;
   color: var(--color-title);
   font-size: 50px;
   line-height: 140%;
span{
      color: var(--accent);
    }
   }
.main__desc {
   max-width: 487px;
   margin-bottom: 60px;
   color: var(--color-text);
   font-size: 18px;
   line-height: 30px; /* 166.667% */
}

.main__search{

   margin-bottom: 121px;
}

.header__social{
    display: flex;
    gap: 30px;
}
.main__bg {
   position: absolute;
   max-width: 1440px;
   height: 620px;
   top: 0;
   right: 0;
   overflow: hidden;
   z-index: -1;
}
.main__img {
   max-width: 100%;
   height: 100%;
   object-fit: cover;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
}

.main__social{
   display: flex;
   align-items: center;
   gap: 20px;

}
.fa-brands{
   color: rgba(255, 255, 255, 0.78);
   font-size: 34px;
}
.fa-brands:hover{
   color: #fff;
   transition: 0.2s ease-in;
}
.fa-instagram{
   font-size: 36px;
}
.fa-twitter{
   font-size: 36px;
}

.main__search{
   max-width: 498px;
}