.popular {
    padding: 200px 0px;
}
.popular__text {
    max-width: 455px;
    margin: 0 auto;
}
.popular__title {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 48px;
    line-height: 130%; /* 62.4px */
    margin-bottom: 25px;
}
.popular__desc {
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
    font-size: 18px;  
    line-height: 30px; /* 166.667% */
    margin-bottom: 110px;    
    }
.popular__card {

}
.popular-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,358px);
    column-gap: 25px;
    row-gap: 100px;
    
}