.popular {
    padding: 200px 0px;
}
.popular__text {
    max-width: 455px;
    margin: 0 auto;
}
.popular__title {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 48px;
    line-height: 130%; /* 62.4px */
    margin-bottom: 25px;
}
.popular__desc {
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
    font-size: 18px;  
    line-height: 30px; /* 166.667% */
    margin-bottom: 110px;    
    }
.popular__card {

}
.popular-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,358px);
    column-gap: 25px;
    row-gap: 100px;
}

.popular__button{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    padding: 17px 38px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #1E252B;
    color: var(--color-text);
    font-size: 20px;
    &:hover{
        color: var(--accent);
        transition: 0.5s ease-in;
        box-shadow: 0px 4px 4px 0px var(--accent)
    }
}
