:root{
    --color-title:rgba(255, 255, 255, 0.90);
    --color-text: rgba(255, 255, 255, 0.55);
    --accent: #FF6E30;

    --card-title: rgba(255, 255, 255, 0.78);
    --card-bg: #1E252B;
    --card-hover: rgba(40, 48, 54, 0.60);
    --card-accent-muted: rgba(255, 165, 55, 0.55);
    --card-accent: #FFA537;
    --card-text: rgba(255, 255, 255, 0.55);


    --button-color: #fff;
    --button-bg: #FF6E30;
}